* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 15vh;
    background-color: rgb(205, 207, 209);
    position: sticky;
    top: auto;
}
.logo {
    height: 90px;
    width: 90px;
    align-self: center;
    border-radius:50% ;
    background-color: white;
}
.nav-bar {
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.cards {
    display: flex;
    grid-template-rows: (auto-fit, minmax(220px, 1fr));
    justify-content: space-around;
    margin-top: 2em;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40vh;
    width: 15vw;
    border: 2px solid rgba(245, 197, 9, 0.163);
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center; 
}